In [2]:
(lambda a, b:a*b)(10, 5)

50

In [3]:
def calc_double(x):
    return x * 2
for num in [1,2,3,4]:
    print(calc_double (num))

2
4
6
8

In [7]:
list(map(calc_double, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [8]:
list(map(lambda x : x * 2, [1,2,3,4]))

[2, 4, 6, 8]